@use 'media' as me;

.account-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.account-session {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 0px 30px;

    @include me.mobile {
        flex-direction: column;
        padding: 0px;
        gap: 30px;
    }
}
