@use 'variables' as v;
@use 'mixins' as mx;
@use 'media' as me;

body {
    font-family: v.$font-poppins;
    background-color: v.$background-color;
    color: v.$text-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings:
		"cv11", "salt", "ss01", "ss03",
		"cv01", "cv02", "cv03", "cv04",
		"cv05", "cv06", "cv09", "cv10";
    font-display: swap;
    text-rendering: geometricPrecision;
    width: 100% !important;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    background-color: v.$background-color;
    overflow-x: hidden;
    width: 100% !important;
}
