@use "variables" as v;
@use "media" as me;

.login-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    
    align-items: center;
    background: linear-gradient(to right, v.$primary-color, #00d4ff);
}

@include me.mobile {
    .login-container{
        flex-direction: column;
    }
}

@include me.tablet {
    .login-container{
        flex-direction: column;
    }
}
