@use 'media' as me;

.user-profile-display {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    height: 100%;

    @include me.mobile {
        width: 100%;
        padding: 10px;
        justify-content: center;
        gap: 0px;
    }

    .user-profile-picture {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;

        @include me.mobile {
            width: 90px;
            height: 90px;
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        .user-name {
            font-size: 2.4rem !important;
            font-weight: bold;

            @include me.mobile {
                font-size: 1.6rem !important;
            }
        }

        .user-email {
            font-size: 1.1rem !important;
            color: gray;
            @include me.mobile {
                font-size: 0.9rem !important;
            }
        }
    }
}
